*{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

.iconos-redes{
  font-size: 30px;
}
.footer{
  width: 100%;
  height: auto;
  background-color: #171918;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-informacion{
  width: 600px;
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.navegacion{
  color: white;
  h2{
      font-size: 30px;
  }
  li{
      list-style: none;
      margin-top: 20px;
  }

  a{
      text-decoration: none;
      color: white;
  }
}

.contacto{
  h2{
      font-size: 30px;
  }
  color: white;
  li{
      list-style: none;
      margin-top: 20px;
  }
}

.metodos{
  color: white;
  margin: 50px 50px 50px 0;

}

.img-pagos{
  width: 400px;
  img{
      width: 50px;
      height: 30px;
      object-fit: cover;
  }
}

.img-envio{
  width: 400px;
  margin-top: 20px;
  img{
      width: 70px;
      height: 30px;
      object-fit: cover;
  }
}

@media (max-width:680px){
  .metodos{
    display: flex;
    flex-direction: column;
    margin: auto;
  }

}

@media (max-width:400px ){
  .img-pagos{
      width: 200px;
  }
}
