* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  scroll-behavior: smooth;
}

body {
  background-image: radial-gradient(circle at 69% 86%, rgba(165, 165, 165, 0.06) 0%, rgba(165, 165, 165, 0.06) 25%, rgba(193, 193, 193, 0.06) 25%, rgba(193, 193, 193, 0.06) 50%, rgba(221, 221, 221, 0.06) 50%, rgba(221, 221, 221, 0.06) 75%, rgba(249, 249, 249, 0.06) 75%, rgba(249, 249, 249, 0.06) 100%), radial-gradient(circle at 49% 76%, rgba(129, 129, 129, 0.06) 0%, rgba(129, 129, 129, 0.06) 25%, rgba(164, 164, 164, 0.06) 25%, rgba(164, 164, 164, 0.06) 50%, rgba(200, 200, 200, 0.06) 50%, rgba(200, 200, 200, 0.06) 75%, rgba(235, 235, 235, 0.06) 75%, rgba(235, 235, 235, 0.06) 100%), radial-gradient(circle at 22% 64%, rgba(173, 173, 173, 0.06) 0%, rgba(173, 173, 173, 0.06) 25%, rgba(119, 119, 119, 0.06) 25%, rgba(119, 119, 119, 0.06) 50%, rgba(64, 64, 64, 0.06) 50%, rgba(64, 64, 64, 0.06) 75%, rgba(10, 10, 10, 0.06) 75%, rgba(10, 10, 10, 0.06) 100%), linear-gradient(307deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

.icono-menu {
  display: none;
}

.icono-navegador {
  display: none;
}

header {
  display: flex;
  background-color: #171918;
  position: relative;
  width: 100%;
  height: 150px;
  justify-content: space-around;
  position: fixed;
  top: 0;
}

nav {
  display: flex;
  height: 150px;
  font-size: 20px;
  align-items: center;
  z-index: 2;
}

.icono-navegador {
  color: white;
  align-items: center;
  display: flex;
  position: absolute;
  right: 55px;
  top: 60px;
  font-size: 20px;
}

.logo {
  color: rgb(255, 252, 252);
  padding: 0;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.logo img {
  background-color: white;
  height: 100px;
  width: 100px;
  margin: 0 20px;
  border-radius: 15px;
}

.menu-horizontal {
  list-style: none;
  display: flex;
}

.menu-horizontal > li > a {
  display: block;
  padding: 0;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  border-top: solid 2px white;
  margin: 0 30px;
  transition: 0.4s;
}
.menu-horizontal > li > a:hover {
  border-top: none;
  border-bottom: solid 2px white;
  transition: 0.4s;
}

.menu-vertical {
  position: absolute;
  display: none;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 0 0 15px;
  padding: 5px 5px 0 10px;
}

.menu-horizontal li:hover .menu-vertical {
  display: block;
}

.menu-vertical li:hover {
  color: white;
  padding: 0;
}

.menu-vertical li a {
  display: block;
  color: white;
  padding: 10px 15px 10px 5px;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .logo {
    color: rgb(255, 252, 252);
    padding: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .logo img {
    background-color: white;
    height: 150px;
    width: 150px;
    margin: 0 20px;
    border-radius: 15px;
  }
  header {
    height: 240px;
  }
}
.titulo-productos {
  width: 100%;
}

.menu-horizontal {
  flex-direction: column;
  position: absolute;
  height: 100vh;
  right: -100vh;
  top: 0;
  padding-top: 30px;
  background-color: #171918;
  z-index: 2;
}
.menu-horizontal li > a {
  margin: 20px;
}

.menu-vertical {
  position: absolute;
  top: 100px;
  right: 190px;
  display: none;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 0 0 15px;
  padding: 0px 0px 0 10px;
}

.menu-horizontal li:hover .menu-vertical {
  display: block;
}

.menu-vertical li:hover {
  color: white;
  padding: 0;
}

.icono-navegador {
  color: white;
  align-items: center;
  display: flex;
  position: absolute;
  font-size: 25px;
  right: 55px;
  top: 150px;
}

.icono-menu {
  display: block;
  color: white;
  font-size: 50px;
  position: absolute;
  right: 50px;
  top: 90px;
  z-index: 1;
}

.icono-menu:hover + .menu-horizontal {
  right: 0vh;
}

.menu-horizontal:hover {
  right: 0vh;
}

.footer {
  width: 100%;
  height: 350px;
  background-color: #171918;
  display: flex;
  color: white;
  justify-content: space-between;
}

.navegacion {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 50px 0 0 100px;
}
.navegacion li {
  list-style: none;
  margin-top: 20px;
}
.navegacion a {
  text-decoration: none;
  color: white;
}

.contacto {
  margin: 50px 700px 0 0;
}
.contacto i {
  font-size: 25px;
  margin-top: 20px;
}

.contacto .titulo {
  margin-top: 20px;
}

.contacto li {
  list-style: none;
  margin-top: 10px;
}

.metodos {
  margin: 50px 100px;
}
.metodos h2 {
  margin-left: 10px;
}

.img-pagos {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}
.img-pagos img {
  width: 70px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 2px;
}
.img-pagos .mp {
  background-color: white;
}

.envio {
  margin: 30px 0 10px;
}

.img-envio {
  width: 70px;
  height: 30px;
  margin-left: 12px;
}
.img-envio img {
  width: 70px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1660px) {
  .footer {
    height: 400px;
    width: 100%;
    margin-top: 200px;
    flex-direction: column;
    background-color: #171918;
    position: relative;
  }
  .navegacion {
    margin-top: 10px;
    position: absolute;
    left: 100px;
  }
  .navegacion h2 {
    font-size: 25px;
  }
  .navegacion li {
    margin-top: 10px;
  }
  .contacto {
    margin-top: 10px;
    position: absolute;
    right: -500px;
    top: 0;
  }
  .contacto h2 {
    font-size: 25px;
  }
  .metodos {
    position: absolute;
    top: 130px;
    left: 80px;
  }
  .metodos h2 {
    font-size: 20px;
  }
  .envio {
    margin-top: 5px;
  }
  .img-pagos {
    width: 300px;
  }
  .img-pagos img {
    width: 50px;
  }
}
@media (max-width: 1200px) {
  .footer {
    height: 600px;
    width: 100%;
    margin-top: 200px;
    flex-direction: column;
    background-color: #171918;
    position: relative;
  }
  .navegacion {
    margin-top: 60px;
    position: absolute;
    left: 100px;
  }
  .navegacion h2 {
    font-size: 40px;
  }
  .navegacion li {
    margin-top: 10px;
    font-size: 20px;
  }
  .contacto {
    margin-top: 60px;
    position: absolute;
    right: -500px;
    top: 0;
  }
  .contacto h2 {
    font-size: 40px;
  }
  .contacto li {
    font-size: 18px;
  }
  .metodos {
    position: absolute;
    top: 250px;
    left: 80px;
  }
  .metodos h2 {
    font-size: 30px;
  }
  .envio {
    margin-top: 5px;
  }
  .img-pagos {
    width: 300px;
  }
  .img-pagos img {
    width: 50px;
  }
}
.titulo-productos {
  padding: 5px;
  text-align: center;
  margin-top: 140px;
  font-size: 30px;
  background-color: #171918;
  color: white;
  height: 50px;
  align-items: center;
}

.productos {
  display: grid;
  width: 50%;
  margin: 100px auto 70px;
  gap: 20px 0;
  grid-template-columns: repeat(4fr);
  grid-template-rows: repeat(4fr);
  grid-template-areas: "p1 p2 p3 p4" "p5 p6 p7 p8" "p9 p10 p11 p12";
}
.productos p {
  margin: 0 0 4px 0;
}

.boton-productos {
  background-color: #171918;
  color: white;
  text-decoration: none;
  padding: 5px 100px;
  border-radius: 15px;
  display: flex;
  margin: 0 auto 70px;
}
.boton-productos:hover {
  opacity: 0.8;
}

.boton-productos a {
  text-decoration: none;
}

.boton-producto {
  display: flex;
  justify-content: center;
}
.boton-producto button {
  background-color: #171918;
  color: white;
  border-radius: 5px;
  padding: 5px;
}
.boton-producto button:hover {
  opacity: 0.8;
  transition: 0.4s;
}
.boton-producto i {
  margin-left: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.p-14 {
  grid-area: p1;
}
.p-14 h2 {
  text-align: center;
  font-size: 20px;
}
.p-14 p {
  text-align: center;
  font-size: 18px;
}
.p-14 a {
  width: 200px;
  height: 200px;
}

.p-15 {
  grid-area: p2;
}
.p-15 h2 {
  text-align: center;
  font-size: 20px;
}
.p-15 p {
  text-align: center;
  font-size: 18px;
}
.p-15 a {
  width: 200px;
  height: 200px;
}

.p-16 {
  grid-area: p3;
}
.p-16 h2 {
  text-align: center;
  font-size: 20px;
}
.p-16 p {
  text-align: center;
  font-size: 18px;
}
.p-16 a {
  width: 200px;
  height: 200px;
}

.p-17 {
  grid-area: p4;
}
.p-17 h2 {
  text-align: center;
  font-size: 20px;
}
.p-17 p {
  text-align: center;
  font-size: 18px;
}
.p-17 a {
  width: 200px;
  height: 200px;
}

.p-13 {
  grid-area: p5;
}
.p-13 h2 {
  text-align: center;
  font-size: 20px;
}
.p-13 p {
  text-align: center;
  font-size: 18px;
}
.p-13 a {
  width: 200px;
  height: 200px;
}

.p-6 {
  grid-area: p6;
}
.p-6 h2 {
  text-align: center;
  font-size: 20px;
}
.p-6 p {
  text-align: center;
  font-size: 18px;
}
.p-6 a {
  width: 200px;
  height: 200px;
}

.p-7 {
  grid-area: p7;
}
.p-7 h2 {
  text-align: center;
  font-size: 20px;
}
.p-7 p {
  text-align: center;
  font-size: 18px;
}
.p-7 a {
  width: 200px;
  height: 200px;
}

.p-8 {
  grid-area: p8;
}
.p-8 h2 {
  text-align: center;
  font-size: 20px;
}
.p-8 p {
  text-align: center;
  font-size: 18px;
}
.p-8 a {
  width: 200px;
  height: 200px;
}

.p-9 {
  grid-area: p9;
}
.p-9 h2 {
  text-align: center;
  font-size: 20px;
}
.p-9 p {
  text-align: center;
  font-size: 18px;
}
.p-9 a {
  width: 200px;
  height: 200px;
}

.p-10 {
  grid-area: p10;
}
.p-10 h2 {
  text-align: center;
  font-size: 20px;
}
.p-10 p {
  text-align: center;
  font-size: 18px;
}
.p-10 a {
  width: 200px;
  height: 200px;
}

.p-11 {
  grid-area: p11;
}
.p-11 h2 {
  text-align: center;
  font-size: 20px;
}
.p-11 p {
  text-align: center;
  font-size: 18px;
}
.p-11 a {
  width: 200px;
  height: 200px;
}

.p-12 {
  grid-area: p12;
}
.p-12 h2 {
  text-align: center;
  font-size: 20px;
}
.p-12 p {
  text-align: center;
  font-size: 18px;
}
.p-12 a {
  width: 200px;
  height: 200px;
}

.img-producto {
  border: solid 1px #171918;
  width: 200px;
  height: 200px;
  display: flex;
  margin: 0 auto;
}

.img-producto:hover {
  filter: brightness(0.6);
  transition: 0.7s;
}

@media (max-width: 1660px) {
  .productos {
    display: grid;
    width: 100%;
    gap: 15px 0;
    grid-template-columns: repeat(2fr);
  }
}
@media (max-width: 1200px) {
  .productos {
    display: grid;
    width: 80%;
    margin: 100px auto;
    grid-template-columns: repeat(2fr);
    grid-template-rows: repeat(4fr);
    grid-template-areas: "p1 p2" "p3 p4" "p5 p6" "p7 p8" "p9 p10" "p11 p12";
    gap: 30px;
  }
  .p-14 {
    grid-area: p1;
  }
  .p-14 h2 {
    text-align: center;
    font-size: 30px;
  }
  .p-14 p {
    text-align: center;
    font-size: 25px;
  }
  .p-14 a {
    width: 200px;
    height: 200px;
  }
  .p-15 {
    grid-area: p2;
  }
  .p-15 h2 {
    text-align: center;
    font-size: 30px;
  }
  .p-15 p {
    text-align: center;
    font-size: 25px;
  }
  .p-15 a {
    width: 200px;
    height: 200px;
  }
  .p-16 {
    grid-area: p3;
  }
  .p-16 h2 {
    text-align: center;
    font-size: 30px;
  }
  .p-16 p {
    text-align: center;
    font-size: 25px;
  }
  .p-16 a {
    width: 200px;
    height: 200px;
  }
  .p-17 {
    grid-area: p4;
  }
  .p-17 h2 {
    text-align: center;
    font-size: 30px;
  }
  .p-17 p {
    text-align: center;
    font-size: 25px;
  }
  .p-17 a {
    width: 200px;
    height: 200px;
  }
  .p-13 {
    grid-area: p5;
  }
  .p-13 h2 {
    text-align: center;
    font-size: 30px;
  }
  .p-13 p {
    text-align: center;
    font-size: 25px;
  }
  .p-13 a {
    width: 200px;
    height: 200px;
  }
  .p-6 {
    grid-area: p6;
  }
  .p-6 h2 {
    text-align: center;
    font-size: 30px;
  }
  .p-6 p {
    text-align: center;
    font-size: 25px;
  }
  .p-6 a {
    width: 200px;
    height: 200px;
  }
  .p-7 {
    grid-area: p7;
  }
  .p-7 h2 {
    text-align: center;
    font-size: 30px;
  }
  .p-7 p {
    text-align: center;
    font-size: 25px;
  }
  .p-7 a {
    width: 200px;
    height: 200px;
  }
  .p-8 {
    grid-area: p8;
  }
  .p-8 h2 {
    text-align: center;
    font-size: 30px;
  }
  .p-8 p {
    text-align: center;
    font-size: 25px;
  }
  .p-8 a {
    width: 200px;
    height: 200px;
  }
  .p-9 {
    grid-area: p9;
  }
  .p-9 h2 {
    text-align: center;
    font-size: 30px;
  }
  .p-9 p {
    text-align: center;
    font-size: 25px;
  }
  .p-9 a {
    width: 200px;
    height: 200px;
  }
  .p-10 {
    grid-area: p10;
  }
  .p-10 h2 {
    text-align: center;
    font-size: 30px;
  }
  .p-10 p {
    text-align: center;
    font-size: 25px;
  }
  .p-10 a {
    width: 200px;
    height: 200px;
  }
  .p-11 {
    grid-area: p11;
  }
  .p-11 h2 {
    text-align: center;
    font-size: 30px;
  }
  .p-11 p {
    text-align: center;
    font-size: 25px;
  }
  .p-11 a {
    width: 200px;
    height: 200px;
  }
  .p-12 {
    grid-area: p12;
  }
  .p-12 h2 {
    text-align: center;
    font-size: 30px;
  }
  .p-12 p {
    text-align: center;
    font-size: 25px;
  }
  .p-12 a {
    width: 200px;
    height: 200px;
  }
  .img-producto {
    border: solid 1px #171918;
    width: 400px;
    height: 400px;
    display: flex;
    margin: 0 auto;
  }
  .img-producto:hover {
    filter: brightness(0.6);
    transition: 0.7s;
  }
  .boton-productos {
    background-color: #171918;
    color: white;
    text-decoration: none;
    padding: 10px 100px;
    border-radius: 15px;
    display: flex;
    margin: 0 auto 70px;
  }
  .boton-productos:hover {
    opacity: 0.8;
  }
  .boton-productos a {
    font-size: 20px;
  }
  .boton-producto {
    padding: 10px;
    font-size: 20px;
  }
}
.portada {
  width: 1000px;
  margin: auto;
  height: 800px;
  z-index: -2;
}

.img-portada {
  height: 970px;
  width: 1000px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 5;
  border-right: double 15px #171918;
  border-left: double 15px #171918;
}

.inicio-titulos {
  font-weight: 1000;
  display: flex;
  font-size: 50px;
  margin: 0px 0;
  position: absolute;
  top: 150px;
  height: 820px;
  left: 0;
}
.inicio-titulos p {
  margin: 5px 20px;
}
.inicio-titulos .termos {
  position: relative;
  top: 225px;
}
.inicio-titulos .mates {
  position: relative;
  top: 300px;
}

@media (max-width: 1200px) {
  .portada {
    width: 100%;
  }
  .img-portada {
    height: 970px;
    width: 1000px;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 5;
    border: none;
  }
}
.info-1 {
  width: 60%;
  margin: 200px auto;
}

.informacion {
  display: flex;
}
.informacion img {
  width: 450px;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}
.informacion h2 {
  margin-left: 30px;
}
.informacion p {
  margin: 30px 0 0 30px;
  text-align: justify;
  font-size: 20px;
  letter-spacing: 1px;
}

@media (max-width: 1024px) {
  .info-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .informacion {
    flex-direction: column;
    margin: auto;
  }
  .informacion img {
    margin: auto;
  }
  .informacion h2 {
    text-align: center;
  }
  .informacion p {
    width: 100%;
    margin: auto;
    padding: 50px;
  }
}
.contactos {
  display: flex;
  justify-content: space-around;
  margin: 300px 150px;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
}
form input {
  margin: 10px 0;
  border-radius: 5px;
}
form textarea {
  max-width: 400px;
  max-height: 250px;
  height: 200px;
  border-radius: 5px;
}

.info-contacto p {
  font-size: 20px;
}
.info-contacto li {
  list-style: none;
  margin-left: 0;
  font-size: 18px;
}
.info-contacto i {
  font-size: 35px;
  margin: 5px;
}

.titulo-contacto-2 {
  margin-top: 50px;
}

.boton-contacto {
  background-color: #171918;
  color: white;
  margin: 20px;
}
.boton-contacto:hover {
  opacity: 0.8;
}

.img-producto-1 {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  margin: auto;
}

.titulo-filtro {
  position: relative;
  top: 50px;
  left: 350px;
  padding: 0;
  width: 100px;
}

.contenedor input {
  position: relative;
  top: 60px;
  left: 340px;
  background-color: #171918;
}
.contenedor label {
  position: relative;
  top: 60px;
  left: 350px;
}

#mates:checked ~ #productos-1 .termo, #mates:checked ~ #productos-1 .bombilla,
#mates:checked ~ #productos-1 .matera, #mates:checked ~ #productos-1 .yerbera, #mates:checked ~ #productos-1 .combo {
  display: none;
}

#termos:checked ~ #productos-1 .mate, #termos:checked ~ #productos-1 .bombilla, #termos:checked ~ #productos-1 .matera,
#termos:checked ~ #productos-1 .yerbera, #termos:checked ~ #productos-1 .combo {
  display: none;
}

#bombillas:checked ~ #productos-1 .mate, #bombillas:checked ~ #productos-1 .termo, #bombillas:checked ~ #productos-1 .matera,
#bombillas:checked ~ #productos-1 .yerbera, #bombillas:checked ~ #productos-1 .combo {
  display: none;
}

#materas:checked ~ #productos-1 .mate, #materas:checked ~ #productos-1 .termo, #materas:checked ~ #productos-1 .bombilla,
#materas:checked ~ #productos-1 .yerbera, #materas:checked ~ #productos-1 .combo {
  display: none;
}

#yerberas:checked ~ #productos-1 .mate, #yerberas:checked ~ #productos-1 .termo, #yerberas:checked ~ #productos-1 .bombilla,
#yerberas:checked ~ #productos-1 .matera, #yerberas:checked ~ #productos-1 .combo {
  display: none;
}

#combos:checked ~ #productos-1 .mate, #combos:checked ~ #productos-1 .termo, #combos:checked ~ #productos-1 .bombilla,
#combos:checked ~ #productos-1 .matera, #combos:checked ~ #productos-1 .yerbera {
  display: none;
}

#productos-1 {
  position: relative;
  top: -150px;
  width: 50%;
  display: grid;
  margin: 0 auto;
  gap: 20px;
  grid-template-columns: repeat(4fr);
  grid-template-rows: repeat(6fr);
  grid-template-areas: "pr1 pr2 pr3 pr4" "pr5 pr6 pr7 pr8" "pr9 pr10 pr11 pr12" "pr13 pr14 pr15 pr16" "pr17 pr18 pr19 pr20";
}
#productos-1 img {
  border: solid 1px black;
}
#productos-1 h2 {
  font-size: 20px;
  text-align: center;
}
#productos-1 p {
  font-size: 18px;
  text-align: center;
  margin: 0;
}

.boton-producto-1 {
  text-align: center;
  color: black;
}
.boton-producto-1 button {
  background-color: #171918;
  color: white;
  padding: 3px 20px;
}
.boton-producto-1 button:hover {
  opacity: 0.8;
}

.productos-titulo {
  text-align: center;
  margin: 30px 0 0 0;
  background-color: #171918;
  color: white;
}

.img-pasos {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border: solid 1px #171918;
}

.titulo-cuidados {
  background-color: #171918;
  margin-top: 190px;
  color: white;
  font-size: 23px;
  padding: 15px 0 15px 280px;
}

.tips {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4fr);
  grid-template-rows: repeat(1fr);
  grid-template-areas: "ps1 ps2 ps3 ps4";
  margin: 50px auto;
  gap: 50px;
}

.info-cuidados {
  width: 70%;
  margin: 50px auto 100px;
}
.info-cuidados p {
  font-size: 20px;
  letter-spacing: 1.5px;
  text-align: justify;
}/*# sourceMappingURL=style.css.map */